<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    ul li {
      display: flex;
      justify-content: space-around;
    }

    ul img {
      height: 100px;
      width: 100px;
    }
  </style>
</head>

<body>
  <div id="app">
    <div v-if='this.list.length===0'>空空如也 </div>
    <template v-else>
      <div>
        <!-- 绑定事件 获取变换的结果 -->
        <input type="checkbox"  v-model='isAll' @change='handelAll'>全选/全不选
      </div>
      <ul>
        <li v-for='(item,index) in list' :key='index'>
          <input type="checkbox"   v-model='checkGroup' :value='item' @change='checked'>
          <img :src="item.pic" alt="">
          <div>
            <div>商品名称:{{item.name}}</div>
            <div>商品价格:￥{{item.price}}</div>
          </div>
          <div>
            <button @click='item.number--' :disabled='item.number=== 1'>-</button>
            {{item.number}}
            <button @click='item.number++' :disabled='item.number === item.limit'>+</button>
          </div>
          <div>
            <button @click='handelDelete(index,item.id)'>删除</button>
          </div>
        </li>
      </ul>
      <div>
        总金额 {{sum()}}
      </div>
  </template>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        checkGroup:[],
        isAll:false,
        list: [
          {
            name: '商品1',
            number: 1,
            price: 5,
            id: 1,
            limit: 5,
            pic: 'https://note.youdao.com/yws/public/resource/d25a848293401b1aa2fdf16373951525/xmlnote/CE0EBAB08D4C47719C8620F77CEC9818/1340'
          },
          {
            name: '商品2',
            number: 2,
            price: 10,
            id: 2,
            limit: 8,
            pic: 'https://note.youdao.com/yws/public/resource/d25a848293401b1aa2fdf16373951525/xmlnote/WEBRESOURCEe02513e83a017b656226678b29db2996/1377'
          },
          {
            name: '商品3',
            number: 3,
            price: 15,
            id: 3,
            limit: 10,
            pic: 'https://note.youdao.com/yws/public/resource/d25a848293401b1aa2fdf16373951525/xmlnote/WEBRESOURCEe02513e83a017b656226678b29db2996/1377'
          }
        ]
      },
      methods:{
        sum(){
          var total= 0 
          this.checkGroup.forEach((item)=>{
            // console.log(item)
            total += item.price * item.number 
          })
          return total
        },
        handelDelete(index,dataId){
          // 将checkGroup重新赋值 
         this.checkGroup= this.checkGroup.filter((item)=>{
            return item.id !== dataId
          })
          console.log(this.checkGroup)
          this.list.splice(index,1)
          this.checked()
        },
        handelAll(){
          if(this.isAll){
            this.checkGroup = this.list
          }else{
            this.checkGroup= []
          }
        },
        checked(){
          if(this.checkGroup.length == this.list.length){
            this.isAll = true
          }else{
            this.isAll = false
          }
        }
      }
    })
  </script>
</body>

</html>